
.home-page {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
}

.items-display {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

