@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: Roboto, sans-serif;
}

.header-container {
  color: yellow;
  height: 60px;
  margin: 15px;
}

header {
  align-items: center;
  background-color: rgba(19, 92, 19, 0.893);
  display: flex;
  justify-content: center;
  height: 60px;
  margin: 5px;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

.category-list-container {
  align-items: flex-start;
  width: 20%;
}

.category-list {
  justify-content: center;
  border: 3px solid black;
  border-radius: 5px;
}

.home {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 70%;
}

.input-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.home-input {
  height: 20px;
  margin: 10px;
  width: 80%;
}

.home-button {
  background-color: rgba(19, 92, 19, 0.893);
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 500;
  height: 30px;
  padding: 5px;
  width: 10%;
}

.product-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.product-card-image {
  width: 100%;
}


.product-card-body {
  flex: 1 1 auto;
  padding: 20px;
}