.home-container {
  display: flex;
  justify-content: space-around;
}

.category-list-container {
  align-items: flex-start;
  width: 20%;
}

.home {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 70%;
}

.home-input {
  height: 20px;
  margin: 10px;
  width: 100%;
}

.home-span {
  font-family: Roboto, sans-serif;
}

.product-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.product-card-image {
  width: 100%;
}


.product-card-body {
  flex: 1 1 auto;
  padding: 20px;
}