.product-card {
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 5px;
  width: 200px;
}

.title-card {
  font-size: 1.2rem;
}

.product-card-image {
  align-self: center;
  display: block;
  max-width: 100%;
}