.title {
  padding-left: 40px;
}

.buttonCart {
  padding-left: 1130px;
}

.image {
  height: 250px;
  padding-left: 80px;
}

.imgEspec {
  display: flex;
  flex-direction: row;
}

.especificacoes {
  padding-left: 200px;
}
