.category-container {
  flex-flow: column wrap;
  width: 20%;
  margin-left: auto;
  margin-right: auto; 
}

.category-container button {
  background-color: white;
  width: 100%;
  box-shadow: 0px 1px 0px 1px rgb(221, 221, 221);
  border: 1px solid rgb(190, 190, 190);
  margin-top: 5px;
  padding: 3px;
}

button:hover {
  background-color: rgb(226, 226, 226);
}