.checkout-review {
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
}

.checkout-info {
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.checkout-payment {
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
}

label{
    font-weight: 900;
}

.form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: red;
}