body {
  background-color: silver;
  box-sizing: border-box;
  font-size: 16px;
  overflow: auto;
}

.search {
  background: linear-gradient(gray, lightgray, white, lightgray, gray);
  display: flex;
  height: 60px;
  width: 100%;
}

.search-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.search-input {
  margin-top: 5px;
  width: 50%;
}

.shopping-car-button {
  align-items: center;
  margin-top: 7px;
  padding: 15px;
  vertical-align: auto;
}

a {
  background: linear-gradient(gray, lightgray, white, lightgray, gray);
  border: 3px groove lightgray;
  list-style: none;
  padding: 10px;
  text-decoration: none;
}

.card {
  background-color: white;
  border: 5px groove lightgray;
  border-radius: 3px;
  cursor: pointer;
  flex-direction: column;
  height: 250px;
  margin: 5px;
  overflow: hidden;
  width: 180px;
}

.card:hover {
  box-shadow: 5px 5px 35px green;
}

.card-image {
  width: 100%;
}

.card-title {
  color: #6c757d;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 12px;
}

.card-price {
  color: #145c0a;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 12px;
}
