body {
  margin: 20px auto;
  width: 95%;
}

.search-bar {
  border: 1px solid rgb(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px 20px;
  margin: 20px auto;
  width: 70%;
}

.body-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.categories {
  border: 1px solid rgb(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 0px 20px;
}

.product-card-list {
  width: 70%;
}

.product-card {
  border: 1px solid rgb(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
