.App {
  text-align: center;
}

.category-list {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}

.cart-img {
  width: 30px;
}

.wrapper {
  display: flex;
}

main {
  border: 1px solid;
  width: 900px;
  text-align: center;
  
}

main input {
  width: 600px;
}
