.display-container {
  align-items: flex-start;
  display: flex;
}

.categories {
  align-items: flex-start;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  width: 25%;
}

.categories div {
  align-items: flex-start;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: 20px;
  width: 90%;
}

.products-container {
  border-radius: 10px;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  width: 65%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  align-items: center;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 20%;
}

.filter-input {
  border: 2px #3a3a3a solid;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
}

.header-container {
  margin: auto;
  text-align: center;
}

.nav-items {
  align-items: center;
  display: flex;
  margin: auto;
  width: 80%;
}

.search-button {
  background-color: #3a3a3a;
  border: 0px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  margin: 8px;
  padding: 10px;
}

.add-to-cart-button, .checkout-button {
  background-color: #3a3a3a;
  border: 0px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  margin: 8px;
  padding: 10px;
}

.evaluation-textarea {
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  width: 500px;
}

.checkout-form {
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 25px;
  width: 50%;
}

.checkout-form input {
  height: 30px;
  font-size: 20px;
  margin-bottom: 15px;
}

.cart-container {
  height: 50px;
  position: relative;
}

.cart-img {
  left: 0;
  position: absolute;
  top: 0;
}

.cart-size {
  align-items: center;
  background-color: tomato;
  border-radius: 100%;
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  left: 30px;
  position: absolute;
  top: 0;
  width: 25px;
}
