.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-container {
  align-items: flex-start;
  display: flex;
}

.categories {
  align-items: flex-start;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  width: 25%;
}

.categories div {
  align-items: flex-start;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: 20px;
  width: 90%;
}

.products-container {
  /* border: 2px solid black; */
  border-radius: 10px;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  width: 65%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 20%;
}

.filter-input {
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
}

.header-container {
  margin: auto;
  text-align: center;
}

.nav-items {
  align-items: center;
  display: flex;
  margin: auto;
  width: 80%;
}

.search-button {
  background-color: black;
  border: 0px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  margin: 8px;
  padding: 10px;
}
