.productCard {
  box-shadow: 1px solid grey;
  display: grid;
  grid-template-columns:1fr ;
  grid-template-rows: 1fr;
  margin: 12px;
  height: 300px;
  width: 240px;
  padding: 10px;

  .product__item {
    padding:10px;
  }

  .product__title {  
    font-size: 18px;
    max-height: 36px;
    line-height: 24px;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    font-weight: 700;
  }
  
  .product__price {
    font-size: 22px;
    font-weight: 800;
  }

  .product__img {
    justify-self: center;
    align-self: center;
  }

  .product__shipping {
    color: green;
    font-style: italic;
  }

  .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .button {
      border: 1px solid;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: Helvetica,
      Arial,
      sans-serif;
      font-weight: 800;
      letter-spacing: 0.5px;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }

    .button__add_to_cart {
      background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
      background-color: rgb(105, 167, 78);
      border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21);
      box-shadow: inset 0 1px 1px rgb(164, 227, 136);
    }

    .button__add_to_cart:hover {
      background: linear-gradient(rgba(103, 174, 85,0.8), rgba(87, 136, 67, 0.9));
    }

    .button__viewDetails {
      background: linear-gradient(rgb(3, 104, 205), rgb(7, 60, 167));
      padding: 4px;
      background-color: rgb(105, 167, 78);
      border-color: rgb(4, 180, 234) rgb(9, 110, 234) rgb(4, 181, 221);
      box-shadow: inset 0 1px 1px rgb(164, 227, 136);
    }
    .button__viewDetails:hover {
      background: linear-gradient(rgba(3, 104, 205,0.9), rgba(7, 60, 167,0.9))
    }
  }

}

.productCard:hover {
  
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.085);
  
}