.header-container {
  background-color: rgb(255,241,89);
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 2%;
  width: 100%;
}

.home-container {
  align-items: flex-end;
  background-color: rgb(231,231,231);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.store-container {
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.categories-container {
  background-color: white;
  border: solid 1px gray;
  padding: 0 2%;
  width: 20%;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}